---
layout: base
eleventyExcludeFromCollections: true
permalink: /
---

<div class="relative bg-green-200 overflow-hidden">
  <div class="relative pt-6 pb-12 sm:pb-16 md:pb-20 lg:pb-28 xl:pb-32">
    <main class="mt-8 mx-auto max-w-screen-xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 xl:mt-28">
      <div class="text-center">
        <h2 class="text-2xl tracking-tight leading-2 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">
          Tailwind is a simple <span class="text-green-600">eleventy</span> & <span class="text-green-600">tailwind</span> boilerplate project.

        </h2>
        <p class="mt-3 max-w-md mx-auto text-base text-gray-700 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quod vel iste neque, dolor porro nobis iure voluptates corrupti, repellat sequi a culpa enim doloribus numquam omnis commodi molestiae dicta?
        </p>
        <div class="mt-5 max-w-md mx-auto sm:flex sm:justify-center md:mt-8">
          <div class="rounded-md shadow">
            <a href="#" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-green-600 hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10">
              Primary CTA
            </a>
          </div>
          <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3">
            <a href="#" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-green-600 bg-white hover:text-green-500 focus:outline-none focus:border-green-300 focus:shadow-outline-green transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10">
              Secondary CTA
            </a>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
